<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>

    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left Nav: Explore -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><b>Explore</b></a>
      </div>

      <!-- Center: Search Bar -->
      <div class="d-none d-md-block mx-auto" style="width: 40%;">
        <form class="d-flex" role="search" method="GET" action="/listings">
          <input
            class="form-control me-2"
            type="search"
            name="country"
            placeholder="Search by country..."
            aria-label="Search"
          />
          <button class="btn btn-search" type="submit">Search</button>
        </form>
      </div>

      <!-- Right Nav: Auth + Host -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new"><b>Airbnb your home</b></a>

        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>

        <% if (currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
